body, html{
	/* DO NOT CHANGE */
	height:				100%;
	width:				100%;
	background-color:	black;
/*    overflow-x:        hidden;*/
/*    overflow-y:         auto;*/
}
* {
	margin:				0px;
	padding:			0px;
	font-family:		Arial, Verdana, Helvetica, Tahoma;
	font-size:			11px;
	border: 			0px;
	color:				black;
}

#swfobjectdiv{
	/* 
	 * Make this color the same as the body background
	 * So it will blend in before the SWF loads 
	 */
	color:				black;
}

#flashContainer {
    width: 100%;
    height: 100%;
    position: relative;
	min-width: 512px;
	min-height: 1024px;
}

#main-container{
    width: 100%;
    height: 100%;
}

